version: "3"
services:
  nod_dev_env:
    build: .
    container_name: node-docker
    env_file: # for_container
      - .env
    ports:
      - ${PORT}:${PORT}
    volumes:
      - /home/node/app/${PROJECT_NAME}/node_modules
      - .:/home/node/app/${PROJECT_NAME}
      - ${APPDATA_VOLUME}:/home/node/app/${PROJECT_NAME}/data
    entrypoint: tail -F /dev/null # This command makes the container run indefinitely